<% provide(:page_title, 'All Posts') %>

<p id="notice"><%= notice %></p>


<div class="all-posts" align="center">
  <h1 align="center">All Posts</h1>
  <%= link_to 'New Post', new_post_path, class: "btn btn-primary" %>
</div>
<% @posts.reverse.each do |post| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="post-title">
          <%= link_to post.title, post_path(post) %>
        </div>
        <div class="post-body">
          <%= truncate(post.body, length: 50) %>
        </div>
        <div class="post-actions" align="center">
          <%= link_to 'Edit this post', edit_post_path(post), class:"btn btn-warning btn-xs"%>
          <%= link_to 'Dlete this post', post, method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-danger btn-xs" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
